body {
    font-family: Arial, sans-serif;
    background-color: #e4a3de;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #235789;
}

label {
    color: #235789;
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #c9d6e2;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #235789;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3a7ea7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #235789;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #235789;
    margin: 0 5px;
}

.pagination a:hover {
    text-decoration: underline;
}
